th {
    padding: 1rem;
    text-align: left;
}

td {
    border-bottom: 1px solid black;
    padding: 1rem;
}

td input[type="checkbox"] {
    transform: scale(2);
}

.list__wrapper {
    margin-bottom: 1rem;
}
