.button__add--new-item {
    background-color: #4D8C1F;
    border-style: none;
    border-radius: 0.2rem;
    bottom: -1rem;
    color: #f2ef97;
    font-size: 1.2rem;
    height: 2rem;
    left: 0.55rem;
    position: absolute;
    width: 2rem;
}

.content--wrapper {
    font-family: 'Kalam', cursive;
    padding: 1rem 0.2rem;
}

.content_header--wrapper {
    background-color: #A5A357;
    border-bottom: 0.2rem solid #BF646D;
    font-family: 'Kalam', cursive;
    padding: 1rem 1rem 1.2rem;
    position: relative;
}

.content_header--wrapper h1 {
    color: #f2ef97;
    margin: 0 0 0 4.8rem;
    font-family: 'Amatic SC', cursive;
    font-size: 2.4rem;
    padding: 0;
}

.content--wrapper p {
    font-family: 'Amatic SC', cursive;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0 0 -0.2rem 5.65rem;
    padding: 0;
}

@media only screen
and (min-device-width : 1024px) {
    .content--wrapper {
        padding: 1rem 2rem;
    }

    .button__add--new-item {
        bottom: -1.5rem;
        height: 3rem;
        left: 2rem;
        width: 3rem;
    }

    .content_header--wrapper h1 {
        margin: 0 0 0 8.4rem;
        font-size: 3rem;
    }

    .content--wrapper p {
        font-size: 1.6rem;
        margin: 0 0 -0.2rem 7.65rem;
    }
}

/* LOADING SPINNER */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    color: #4D8C1F;
    display: block;
    position: fixed;
    width: 14rem;
    height: 14rem;
    font-size: 2rem;
    left: calc(50% - 7rem);
    top: calc(44% - 7rem);
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -6s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -4s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -2s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

