* {
  box-sizing: border-box;
}

html, body {
  background-color: #f2ef97;
  height: 100%;
}

html, body, div {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border-style: none;
}

button:focus {
  outline-color: #6B6938;
  outline-style: solid;
}

#root {
  height: 100%;
}